.label-win {
    color: greenyellow;
}
.label-lose {
    color: red;
}
.label-tier {
    font-size: 14px;
    color: white;
}
.label-ratio {
    color: cornsilk;
}

.align-team1 {
    float: left;
}
.align-team2 {
    float: right;
}

.hr-line {
    border-bottom: 1px wheat solid;
}

.loss-bg {
    background-color: darkred;
}

.win-bg {
    background-color: darkgreen;
}

.border-right {
    border-right: 1px wheat solid;
}

.rounded-border {
    border-radius: 5px;
}

.zero-padding {
    padding: 0px 0px 0px 0px;
}

.label-white {
    color: white;
}

.history-padding {
    padding: 1rem 1rem 0.5rem 1rem;
}