
.match-history {
padding-left:15px;
  width:100%;
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  background: #0a1b24;
}

.match-row {
  background-color: #020609;
}

.inline-row {
    background-color:#0a1b24;
    margin:5px;
}

.item { 
    border: solid 1px grey;
    width:18px !important;
    height:18px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.kda {
    line-height: 1;
    border: solid 1px 0px 1px 1px grey;
    text-align: center;
    font-size: 12px;
    color: white;
    width:18px;
    height:18px;
}


.champion {
    border: solid 1px grey;
    margin:1px;
    width:18px !important;
    height:18px !important;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.summoner-name {
    line-height: 1;
    text-align: center;
    color: white;
    text-overflow: ellipsis;
    overflow:hidden;
    white-space:nowrap;
    width: 15%;
}

.team-2 {
    margin-left: 0px !important;
}
