<div class="row"
*ngIf="dataList">
    <div class="col-3"
    *ngFor="let data of dataList; let i = index">
        <nb-card [size]="'large'">
            <nb-card-header> {{data.summonerName}} </nb-card-header>
            <nb-card-body>
                <div class="row"
                *ngIf="data.entries.length > 0">
                    <div class="col-6"
                    *ngFor="let entry of data.entries">
                        <label class="label label-darkorange">
                            {{entry.queueType | ranked}}
                        </label>
                        <label class="label label-white">
                            {{entry.tier}} {{entry.rank}} - {{entry.leaguePoints}} LP
                        </label>
                        <img src="/assets/ranked-emblems/Emblem_{{entry.tier | tier}}.png" alt="" width="50px" height="50px">
                    </div>
                </div>
                <div class="row"
                *ngIf="data.entries.length === 0">
                    <div class="col-12">
                        <label class="label label-darkorange">
                            Summoner is unranked!
                        </label>
                        <!-- <img src="/assets/ranked-emblems/Emblem_{{entry.tier | tier}}.png" alt="" width="50px" height="50px"> -->
                    </div>
                </div>
                <div class="row"
                *ngIf="data.details.length === 0">
                    <div class="col-12">
                        <label class="label label-darkorange">
                            No summoner detail found for season 13!
                        </label>
                        <!-- <img src="/assets/ranked-emblems/Emblem_{{entry.tier | tier}}.png" alt="" width="50px" height="50px"> -->
                    </div>
                </div>
                <nb-list class="mt-10">
                    <nb-list-item *ngFor="let x of data.details | slice: 0:10; let i = index">
                    <div class="row justify-content-center" *ngIf="i<10">
                        <div class="col-12">
                            <nb-user
                                style="position: relative;"
                                [name]="x.totalKills + '/' + x.totalDeaths + '/' + x.totalAssists"
                                [title]="x.championName"
                                picture="/assets/dragontail/dragontail/img/champion/{{x.championName}}.png">
                            </nb-user>
                        </div>
                        <div class="col-12">
                            <label>CS: {{x.minions}}</label>
                        </div>
                        <div class="col-12">
                            <label>W: {{x.totalWins}} L: {{x.totalLosses}} WR: {{x.winRate}} </label>
                        </div>
                    </div>
                </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
    </div>
</div>
