<nb-card *ngIf="!currentGameInfo">
    <nb-card-header>
        Canlı Takip
    </nb-card-header>
    <nb-card-body>

        <!--. bronzelo png -->
        <div class="row justify-content-around">
            <div class="col-6">
                <img src="/assets/images/bronzelo.png">
            </div>
        </div>
        <!--. bronzelo png-->

        <div class="row justify-content-around">
            <div class="col-6">
                <nb-icon nbPrefix icon="icon-outline" pack="eva"></nb-icon>
                <input type="text" nbInput fullWidth size="small" placeholder="Sihirdar Adı..."
                    [(ngModel)]="summonerName">
            </div>
        </div>
        <div class="row justify-content-around" style="margin-top: 20px;">
            <div class="col-6">
                <button nbButton status="primary" size="small" (click)="getLiveMatch()">
                    <nb-icon icon="star"></nb-icon>Ara
                </button>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<!-- live tracking data -->
<nb-card *ngIf="currentGameInfo">
    <nb-card-header>
        <button nbButton (click)="routeBack()">
            <nb-icon icon="arrow-ios-back-outline"></nb-icon>
        </button>
        Live Match Tracking</nb-card-header>
    <nb-card-body>

        <!-- MAP Info-->
        <!-- <div class="row">
            <div class="col-2">
                <img 
                src="/assets/dragontail-{{ddVersion}}/{{ddVersion}}/img/map/map{{currentGameInfo.mapId}}.png"
                style="height: 100px;">
            </div>
        </div> -->
        <!--. MAP Info-->

            <!-- team 1 -->
            <nb-card>
                <nb-card-header>
                    Takım 1
                </nb-card-header>
                <nb-card-body>
                    <div class="row  mt-20">
                        <div class="col-2" *ngFor="let player of team1">
                            <nb-card>
                                <nb-card-header>
                                    <nb-user [name]="player.summonerName"
                                        picture="/assets/dragontail-{{ddVersion}}/{{ddVersion}}/img/champion/{{player.championName}}.png">
                                    </nb-user>
                                </nb-card-header>
                                <nb-card-body>
    
                                    <!--WIN-LOSE-->
                                    <div class="row">
                                        <div class="col-6">
                                            <p><b>Win: </b> {{player.wins}} </p>
                                        </div>
                                        <div class="col-6">
                                            <p><b>Lose: </b> {{player.losses}} </p>
                                        </div>
                                    </div>
                                    <!--. WIN-LOSE-->
                                    <hr>
                                    <!--SUMMONER SPELLS and RUNES-->
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="col-6">
                                                <label class="label">Spells</label>
                                                <img class="spell-image"
                                                    src="/assets/dragontail-{{ddVersion}}/{{ddVersion}}/img/spell/{{player.spell1Name}}.png">
                                            </div>
                                            <div class="col-6">
                                                <img class="spell-image mt-10"
                                                    src="/assets/dragontail-{{ddVersion}}/{{ddVersion}}/img/spell/{{player.spell2Name}}.png">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="label">Runes</label>
                                            <div class="col-6">
                                                <img class="spell-image"
                                                    src="/assets/dragontail-{{ddVersion}}/img/{{player.perks.perkStyleName}}">
                                            </div>
                                            <div class="col-6">
                                                <img class="spell-image mt-10"
                                                    src="/assets/dragontail-{{ddVersion}}/img/{{player.perks.perkSubStyleName}}">
                                            </div>
                                        </div>
                                    </div>
                                    <!--. SUMMONER SPELLS and RUNES-->
                                </nb-card-body>
                                <nb-card-footer>
                                    Win Rate {{player.wins/(player.wins + player.losses) | number : '1.2-2'}}
                                </nb-card-footer>
                            </nb-card>
                        </div>
                    </div>
    
                    <!-- team 2 banned champs-->
                    <label class="label">Banlanan Şampiyonlar</label>
                    <div class="row">
                        <div class="col-2" *ngFor="let champ of team2BannedChamps">
                            <nb-card-body>
                                <nb-user [name]="champ.championName"
                                    picture="/assets/dragontail-{{ddVersion}}/{{ddVersion}}/img/champion/{{champ.championName}}.png">
                                </nb-user>
                            </nb-card-body>
                        </div>
                    </div>
                    <!--. team 1 banned champs -->
                </nb-card-body>
            </nb-card>
            <!--. team 1 -->

        <!-- team 2 -->
        <nb-card>
            <nb-card-header>
                Takım 2
            </nb-card-header>
            <nb-card-body>
                <div class="row  mt-20">
                    <div class="col-2" *ngFor="let player of team2">
                        <nb-card>
                            <nb-card-header>
                                <nb-user [name]="player.summonerName"
                                    picture="/assets/dragontail-{{ddVersion}}/{{ddVersion}}/img/champion/{{player.championName}}.png">
                                </nb-user>
                            </nb-card-header>
                            <nb-card-body>

                                <!--WIN-LOSE-->
                                <div class="row">
                                    <div class="col-6">
                                        <p><b>Win: </b> {{player.wins}} </p>
                                    </div>
                                    <div class="col-6">
                                        <p><b>Lose: </b> {{player.losses}} </p>
                                    </div>
                                </div>
                                <!--. WIN-LOSE-->
                                <hr>
                                <!--SUMMONER SPELLS and RUNES-->
                                <div class="row">
                                    <div class="col-6">
                                        <div class="col-6">
                                            <label class="label">Spells</label>
                                            <img class="spell-image"
                                                src="/assets/dragontail-{{ddVersion}}/{{ddVersion}}/img/spell/{{player.spell1Name}}.png">
                                        </div>
                                        <div class="col-6">
                                            <img class="spell-image mt-10"
                                                src="/assets/dragontail-{{ddVersion}}/{{ddVersion}}/img/spell/{{player.spell2Name}}.png">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="label">Runes</label>
                                        <div class="col-6">
                                            <img class="spell-image"
                                                src="/assets/dragontail-{{ddVersion}}/img/{{player.perks.perkStyleName}}">
                                        </div>
                                        <div class="col-6">
                                            <img class="spell-image mt-10"
                                                src="/assets/dragontail-{{ddVersion}}/img/{{player.perks.perkSubStyleName}}">
                                        </div>
                                    </div>
                                </div>
                                <!--. SUMMONER SPELLS and RUNES-->
                            </nb-card-body>
                            <nb-card-footer>
                                Win Rate {{player.wins/ (player.wins + player.losses) | number : '1.2-2'}}
                            </nb-card-footer>
                        </nb-card>
                    </div>
                </div>

                <!-- team 2 banned champs-->
                <label class="label">Banlanan Şampiyonlar</label>
                <div class="row">
                    <div class="col-2" *ngFor="let champ of team2BannedChamps">
                        <nb-card-body>
                            <nb-user [name]="champ.championName"
                                picture="/assets/dragontail-{{ddVersion}}/{{ddVersion}}/img/champion/{{champ.championName}}.png">
                            </nb-user>
                        </nb-card-body>
                    </div>
                </div>
                <!--. team 2 banned champs -->
            </nb-card-body>
        </nb-card>
        <!--. team 2 -->
    </nb-card-body>
</nb-card>
<!--. live tracking data -->