<nb-card *ngIf="!currentGameInfo && routedServer === null && routedSummoner === null">
    <nb-card-header>
        Canlı Takip
    </nb-card-header>
    <nb-card-body>

        <!--. bronzelo png -->
        <div class="row">
            <div class="col-12 text-center">
                <img src="/assets/images/bronzelo.png">
            </div>
        </div>
        <!--. bronzelo png-->


        <!--. exp  -->
        <div class="row mt-20">
            <div class="col-12">
                <p>Bronzelo reklamları gözünüze sokmayan, reklam göstermek için içeriği bozmayan ve tek amacı önemli istatistikleri 
                    tek bir sayfa altında buluşturarak size canlı maç veya summoner(lar) hakkında bilgiler sunan 
                    ve Lol tutkunları tarafından hazırlanmış bir platformdur. Her fikir bizim için önemlidir. TFT- Valorant gibi oyunlar da 
                    zamanla eklenecek olup, her bir geliştirme fikrini developer.bronzelo@gmail.com adresine sunmanız bizim için oldukça önemlidir.
                </p>
                <p> Bronzelo platformunda ilk defa arama gerçekleştirdiğinizde verileriniz sistemimize yükleneceği için biraz zaman alabilir.
                    Bu sebeple ilk arama yaptığınızda biraz beklemenizi rica ediyoruz.
                </p>
            </div>
        </div>
        <!--. exp -->

        <div class="row mt-20">
            <div class="col-6">
                <input type="text" nbInput fullWidth size="small" placeholder="Sihirdar 1, Sihirdar 2, Sihirdar 3..."
                    (paste)="onSummonerPaste($event)"
                    (keyup.enter)="summonerName === undefined ? '' : getLiveMatch()"
                    [(ngModel)]="summonerName">
            </div>
            <div class="col-2" *ngIf="servers">
                <nb-select fullWidth
                    [(ngModel)]="server">
                    <nb-option *ngFor="let ss of servers.servers" [value]="ss.key">{{ss.value}}</nb-option>
                </nb-select>
            </div>
        </div>
        <div class="row">
            <div class="col-3 mt-20">
                <button nbButton fullWidth status="primary" size="small"
                (click)="getLiveMatch()"
                [disabled]="summonerName === undefined">
                    <nb-icon icon="star"></nb-icon>Ara
                </button>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<!-- live tracking data -->
<nb-card *ngIf="currentGameInfo">
    <nb-card-header>
        <button nbButton (click)="routeBack()">
            <nb-icon icon="arrow-ios-back-outline"></nb-icon>
        </button>
        Live Match Tracking</nb-card-header>
    <nb-card-body>

        <!-- MAP Info-->
        <!-- <div class="row">
            <div class="col-2">
                <img 
                src="/assets/dragontail/dragontail/img/map/map{{currentGameInfo.mapId}}.png"
                style="height: 100px;">
            </div>
        </div> -->
        <!--. MAP Info-->

            <!-- team 1 -->
            <nb-card>
                <nb-card-header>
                    Team 1 - Red Side
                </nb-card-header>
                <nb-card-body>
                    <div class="row  mt-20">
                        <div class="col-2" *ngFor="let player of team1">
                            <nb-card style="cursor: pointer;"
                            routerLink="/pages/summoner-detail/{{server}}/{{player.summonerName}}" routerLinkActive="router-link-active" >
                                <nb-card-header>
                                    <nb-user [name]="player.summonerName"
                                    [title]="player.tier + ' ' + player.rank + ' - ' + player.leaguePoints + ' LP'"
                                        picture="/assets/dragontail/dragontail/img/champion/{{player.championName}}.png">
                                    </nb-user>
                                </nb-card-header>
                                <nb-card-body>
    
                                    <!--WIN-LOSE-->
                                    <div class="row">
                                        <div class="col-6">
                                            <p><b>Win: </b> {{player.wins}} </p>
                                        </div>
                                        <div class="col-6">
                                            <p><b>Lose: </b> {{player.losses}} </p>
                                        </div>
                                    </div>
                                    <!--. WIN-LOSE-->
                                    <hr>
                                    <!--SUMMONER SPELLS and RUNES-->
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="col-6">
                                                <label class="label">Spells</label>
                                                <img class="spell-image"
                                                    src="/assets/dragontail/dragontail/img/spell/{{player.spell1Name}}.png">
                                            </div>
                                            <div class="col-6">
                                                <img class="spell-image mt-10"
                                                    src="/assets/dragontail/dragontail/img/spell/{{player.spell2Name}}.png">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label class="label">Runes</label>
                                            <div class="col-6">
                                                <img class="spell-image"
                                                    src="/assets/dragontail/img/{{player.perks.perkStyleName}}">
                                            </div>
                                            <div class="col-6">
                                                <img class="spell-image mt-10"
                                                    src="/assets/dragontail/img/{{player.perks.perkSubStyleName}}">
                                            </div>
                                        </div>
                                    </div>
                                    <!--. SUMMONER SPELLS and RUNES-->
                                </nb-card-body>
                                <nb-card-footer>
                                    Win Rate {{player.wins/(player.wins + player.losses) | number : '1.2-2'}}
                                </nb-card-footer>
                            </nb-card>
                        </div>
                    </div>
    
                    <!-- team 2 banned champs-->
                    <label class="label">Banned Champions</label>
                    <div class="row">
                        <div class="col-2" *ngFor="let champ of team1BannedChamps">
                            <nb-card-body>
                                <nb-user [name]="champ.championName"
                                    picture="/assets/dragontail/dragontail/img/champion/{{champ.championName}}.png">
                                </nb-user>
                            </nb-card-body>
                        </div>
                    </div>
                    <!--. team 1 banned champs -->
                </nb-card-body>
            </nb-card>
            <!--. team 1 -->

        <!-- team 2 -->
        <nb-card>
            <nb-card-header>
                Team 2 - Blue Side
            </nb-card-header>
            <nb-card-body>
                <div class="row  mt-20">
                    <div class="col-2" *ngFor="let player of team2">
                        <nb-card style="cursor: pointer;"
                        routerLink="/pages/summoner-detail/{{server}}/{{player.summonerName}}" routerLinkActive="router-link-active" >
                            <nb-card-header>
                                <nb-user [name]="player.summonerName"
                                    [title]="player.tier + ' ' + player.rank + ' - ' + player.leaguePoints + ' LP'"
                                    picture="/assets/dragontail/dragontail/img/champion/{{player.championName}}.png">
                                </nb-user>
                            </nb-card-header>
                            <nb-card-body>

                                <!--WIN-LOSE-->
                                <div class="row">
                                    <div class="col-6">
                                        <p><b>Win: </b> {{player.wins}} </p>
                                    </div>
                                    <div class="col-6">
                                        <p><b>Lose: </b> {{player.losses}} </p>
                                    </div>
                                </div>
                                <!--. WIN-LOSE-->
                                <hr>
                                <!--SUMMONER SPELLS and RUNES-->
                                <div class="row">
                                    <div class="col-6">
                                        <div class="col-6">
                                            <label class="label">Spells</label>
                                            <img class="spell-image"
                                                src="/assets/dragontail/dragontail/img/spell/{{player.spell1Name}}.png">
                                        </div>
                                        <div class="col-6">
                                            <img class="spell-image mt-10"
                                                src="/assets/dragontail/dragontail/img/spell/{{player.spell2Name}}.png">
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label class="label">Runes</label>
                                        <div class="col-6">
                                            <img class="spell-image"
                                                src="/assets/dragontail/img/{{player.perks.perkStyleName}}">
                                        </div>
                                        <div class="col-6">
                                            <img class="spell-image mt-10"
                                                src="/assets/dragontail/img/{{player.perks.perkSubStyleName}}">
                                        </div>
                                    </div>
                                </div>
                                <!--. SUMMONER SPELLS and RUNES-->
                            </nb-card-body>
                            <nb-card-footer>
                                Win Rate {{player.wins/(player.wins + player.losses) | number : '1.2-2'}}
                            </nb-card-footer>
                        </nb-card>
                    </div>
                </div>

                <!-- team 2 banned champs-->
                <label class="label">Banned Champions</label>
                <div class="row">
                    <div class="col-2" *ngFor="let champ of team2BannedChamps">
                        <nb-card-body>
                            <nb-user [name]="champ.championName"
                                picture="/assets/dragontail/dragontail/img/champion/{{champ.championName}}.png">
                            </nb-user>
                        </nb-card-body>
                    </div>
                </div>
                <!--. team 1 banned champs -->
            </nb-card-body>

        </nb-card>
        <!--. team 2 -->
    </nb-card-body>
</nb-card>
<!--. live tracking data -->